.conainer {
    background-color: darkblue;
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.a {
    color: rgb(139, 123, 248);
}

.timer {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}