.container {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  display: flex;
  background-color: aquamarine;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border: solid 1px red;
}

.title {
  font-size: 40px;
  color: darkslategrey;
}

/* --------------------glued footer---------------------------- */
.gluedFooterContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gluedFooterMain {
  flex-grow: 1;
}

/* ////////////////////////// */

@media (min-width: 375px) {
  .container {
    padding: 12px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 24px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 26px;
  }
}