.footer {
    color: var(--gray);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}


@media (min-width:768px) {


    .content {
        display: flex;
        gap: 150px;
    }
}