.timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.timerTitle {
    color: gray;
    font-size: 24px;
}

.timerText {
    color: lightblue;
    font-size: 18px;
}